.cards{
    /* padding:10px; */
    /* display: flex; */
    flex-wrap: wrap;
    margin: 80px;
    float: left;
    text-align: center;
   
    /* padding-left: 60px; */
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.head{
    padding: 2rem;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(136, 61, 202);
}
.card-image{
    width: 200px;
}
.carousel-item{
    padding-right:4rem;
    padding-left: 4rem;
    padding-top: 2rem;
}
.label{
    color: black;
    font-weight: bold;
}
.women-title{
    padding-top: 1rem;
}
.row{
    padding-top: 100px;
}
.card-body{
    padding-bottom: 3rem;
}
.carousel-item{
    padding-right:4rem;
    padding-left: 4rem;
    padding-top: 2rem;
}
* {
    font-family: 'Nunito', sans-serif;
}
body {
    /* background-color: #ffe9e3;   */
    background-color: white;
}

.productcards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:6rem;
    padding:1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;   
}

.productcards .box{
      position:relative;
      height:460px;
      width: 250px;
      box-shadow: 0 7px 7px rgba(0,0,0,0.4);
      overflow: hidden;
      align-items: center;
      display: block;
      justify-content: center;
      /* border-radius: 0.5rem; */

}
.productcards .box:hover{
    border-bottom: 7px solid #05004e;

}
.productcards .box .imgbox{
    width:97%;
    height:63%;
    
    /* margin-bottom: 1rem; */
}
.productcards .box .imgbox img{
    padding-left: 3%;
    height:100%;
    width:97%;
}
.productcards .box .card-body{
    text-align: left;
    font-size: 17px;
    line-height: 2rem;
    /* font-weight: bold; */
    margin:0;
    padding:5px;
}

.productcards .box .card-body button{
    position:static;
    padding:0.5rem 1rem;
    background: transparent;
    outline:none;
    border:none;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(131, 70, 188);
    color:#eee;
    /* border-radius: rem; */
    margin-bottom: 2rem;
    margin-left:55px;
    padding-left: 0px;

    /* margin-top: 0.5rem; */
    

}
.productcards .box .card-body .card-text{
    font-size: 15px;
    margin: 0px;
}

.button {
    border-radius: 5px;
    font-size: 13px;

}