.all{
    background-color: rgb(131, 99, 165);
    text-align: center;
    padding: 20px;
    margin-left:400px;
    margin-right:400px;
    height: 200px;
}
.submit{
    margin-top: 30px;
}
.container{
    background: #ffff;
    width: 350px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;

}
.email{
    padding: .5rem;
    font-size: 25px;
}

.password{
    padding-left: .5rem;
    font-size: 25px;
}
.submit{
    padding-bottom: 1rem;
}

