body{
    justify-content: center;
    background-size: cover;
    display:flex;
    background-color:rgb(220, 197, 243);
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 20px;

}
.head{
    text-align: center;
    color: rgb(19, 18, 18);
    font-weight: bold;
    font-size: 1rem;
   
    
}
.submit{
    padding-top: 50px;
    text-align: center;
}
.container{
    background: #ffff;
    width: 500px;
    padding-top: 3rem;
    padding-bottom: 4rem;
    border-radius: 0rem;
    margin: 4rem;
}
.email{
    padding-left: 2rem;
}

.password{
    padding-left: 2rem;
}

