.container{
    background: #ffff;
    width: 500px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0rem;
    margin: 4rem;
}
body{
    justify-content: center;
    background-size: cover;
    display:flex;
    background-image: url("https://media.istockphoto.com/photos/old-grungy-blue-painting-background-picture-id1042642152?b=1&k=20&m=1042642152&s=170667a&w=0&h=CUyDJpbbqeFKWcxqqnkEoMhs1ZSfyUddOScGWGFqrYo=");
    margin-left: 3rem;
    font-size: 20px;

}
.text{
    padding: 1rem;
}

.head{
    text-align: center;
    color: rgb(185, 11, 159);
    font-weight: bolder;
    font-size: 2rem;
   
    
}
.name{
    padding-bottom: 15px;
    padding-left: 50px;

}
.submit{
    padding-bottom: 5px;
    padding-left: 50px;
    text-align: center;
}
.image{
    width: 20px;
    max-width:13px;
}
#message{
    font-size: 12px;
}