<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background: #ffff;
            width: 500px;
            padding-top: 2rem;
            padding-bottom: 2rem;
            border-radius: 0rem;
            margin: 4rem;
        }
        body{
            justify-content: center;
            background-size: cover;
            display:flex;
            background-color:rgb(220, 197, 243);
            margin-left: 3rem;
            font-size: 20px;

        }
        .text{
            padding: 1rem;
        }

        .head{
            text-align: center;
            color: rgb(185, 11, 159);
            font-weight: bolder;
            font-size: 2rem;
        
            
        }
        .name{
            padding-bottom: 15px;
            padding-left: 50px;

        }
        .submit{
            padding-bottom: 5px;
            padding-left: 50px;
            text-align: center;
        }
        .image{
            width: 20px;
            max-width:13px;
        }
        #message{
            font-size: 12px;
        }
    </style>

</head>
<body>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="container">
        <div class="head">
        <h1">Create Account..!</h1></div>
        <div class="text">
            <div class="contents">
                
                    <div class="name" >Your Name:
                        <input type="Text" placeholder="Username" name="name"  required>
                    </div>
                    <div class="name">Gender:
                        <input type="radio" id="text-box" name="gender">
                        <label for="Male">Male</label>
                        <input type="radio" id="text-box1" name="gender">
                        <label for="Male">Female</label>
                    </div>
                    <div class="name">
                        <label for="birthday">Date of Birth:</label>
                        <input type="date" id="birthday" name="birthday" >
                        <br><span id="AgeMessage"></span>
                    </div>
                    <div class="name">
                        Email: <input name="email" type="email" placeholder="Email"  id="email" required>
                        <br><span id="emailmessage"></span>
                    </div>
                    <!-- <div class="name">
                        Contact:<input type="tel" placeholder="enter your number" required id="text-box">
                    </div > -->
                    <div class="name">
                    Contact:<input name="mobile"  id="mobile" type="number" required   ><br><span id="message"></span>
                    </div>
                        <div class="name">
                            Password:<input name="password" type="password" placeholder="At least 6 characters"  id="password"  required>
                            <br><span id="passwordMessage"></span>
                        </div>
                    <div class="name">
                        Re-Enter Password:<input name="confirm_password" type="password" placeholder="Confirm password"  id="cpassword" required>
                        <br><span id="ConfirmMessage"></span>
                    </div>
                    <div class="submit">
                        <button type="submit" id="button" >submit</button>
                    </div>
                    <div class="image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuZZwm7BRvCOR0LGcqxwxRFcmTHgYtK2mOBA&usqp=CAU" alt="signup image" width="400" height="300">
                    </div>
           
            </div>
        </div>
    </form>

<script>
const password = document.getElementById('password');
const cpassword = document.getElementById('cpassword');
var errorColor = "red";
var goodcolor = "green";
const button = document.getElementById('button');
const pattern=/^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
const email = document.getElementById('email');
const emailmessage = document.getElementById('emailmessage');
const Birthday_date = document.getElementById('birthday');

function contactcheck(){
    const mobile = document.getElementById('mobile');
    const message = document.getElementById('message');
    if(mobile.value.length!=10){
    
        mobile.style.borderColor = errorColor;
        message.style.color = errorColor;
        message.innerHTML = "required 10 digits, match requested format!"
    }
    else{
        mobile.style.borderColor=goodcolor;
        message.innerHTML=""
    }
}

function checkpass(){
    // if (password.value ==""){
    //     passwordMessage.innerText="please fill the passward";
    //     passwordMessage.style.color = errorColor;
    // }
    if ((password.value =="")||(cpassword.value=="")){
        ConfirmMessage.innerText="please fill the password";
        ConfirmMessage.style.color = errorColor;
    }


    else if(password.value != cpassword.value){
        console.log("wrong password")
        ConfirmMessage.innerText=" ";
        passwordMessage.innerText="passwords doesn't match";
        passwordMessage.style.color = errorColor;
        passwordMessage.style.fontSize="12px";
    }else{
        console.log("right")
        passwordMessage.innerText=" "
    }
}

function validateEmail(){   
    var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

if (email.value.match(validRegex)) {

    return true;

} else {
    return false;
}
    
}

// function validateAge(DOB){
//     var today = new Date();
//     var birthDate = new Date(DOB);
//     var age = today.getFullYear() - birthDate.getFullYear();
//     console.log("age",age)
//     const AgeMessage = document.getElementById('AgeMessage');
//     if (age<18){
//         AgeMessage.innerText="Age should be greater than 18";
//         AgeMessage.style.color = goodcolor
//     }
//     else{
//         AgeMessage.style.color = errorColor

//     }
// }
const date = new Date();
const year = date.getFullYear();
function validateDate(){
    const userYear = parseInt(Birthday_date.value.split("-")[0]) //2022-05-06
    if((year-userYear)<18){
    console.log('too young')
    AgeMessage.innerText="Age should be greater than 18";
    AgeMessage.style.color = errorColor;
    AgeMessage.style.fontSize="12px";
    }
    else {
        console.log('correct')
    AgeMessage.innerText=" ";
    }
}

button.addEventListener('click',(e)=>{
    e.preventDefault();
    //password check
    checkpass();
    // contact check
    contactcheck();

    // emailcheck
    if(validateEmail()){

    }
    else{
        var emailMessage= document.getElementById("emailmessage");
        emailMessage.innerText="Email address is not valid";
        emailMessage.style.color=errorColor;
        emailMessage.style.fontSize="12px";

    }

    validateDate();



})


</script>
  
</body>
</html>